  <div class="card-body ">
    <p class="h3 h3-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s" appHighlight *ngIf="highestUpvote()===quote.upvotes && quote.upvotes>0">
      Quote:{{quote.quote}}

    </p>
     <p class="h3 h3-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s" *ngIf="highestUpvote()!==quote.upvotes || quote.upvotes===0">Quote:{{quote.quote}}</p>
    <p>
      Author:{{quote.author}}
    </p>
    <p>
      Publisher:{{quote.name}}
    </p>
    <p>
      Upvotes:{{quote.upvotes}}
    </p>
    <p>
      Downvotes:{{quote.downvotes}}
    </p>
    <p>
      Date:{{quote.myDate}}
      </p>

  </div>
